 :root{
   --cor-background: #43e08a;
   --cor-clara: #fff;
   --cor-escura: #8b8989;
 }

 *{
    padding: 0;
    margin: 0;
 }

 body{
    background-color: var(--cor-background);
    font-family: Arial, sans-serif;
    margin: 10px;
 }

 .titulo{
    text-align: center;
    color: var(--cor-clara);
    font-size: 2.3rem;
    margin-bottom: 10px;
 }

 .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    width: auto;
 }

 #lista-contatos{
    width: 45vw;
    height: 90vh;
    max-width: 75vw;
    margin-left: 0;
    background-color: var(--cor-clara);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
 }

 .containter-contatos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
 }

 .card-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-wrap: wrap;
 }

 .card-contato:hover {
    background-color: #e0e0e0; 
}

.info-contato {
    display: flex;
    flex-direction: column; /* Força a última mensagem a ficar EMBAIXO do nome */
    margin-left: 12px;      /* Empurra o texto para não colar no avatar */
}

.avatar-placeholder {
    width: 45px;
    height: 45px;
    background-color: #ccc; /* Cor cinza temporária */
    border-radius: 50%;     /* Deixa a div perfeitamente redonda */
    flex-shrink: 0;         /* Impede que o Flexbox esmague a bolinha */
}

.nome-contato {
    font-weight: bold;
    color: #333;
}

.ultima-msg {
    font-size: 0.85rem;
    color: #777;
}



 #conversa{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-escura);
    gap: 10px;
    overflow-y: auto;
    height: 90vh;
    width: 55vw;
    border-radius: 10px;
 }